html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('img.index/background.jpg');
}

/* TITLE */
.button{
    display:block;
    text-decoration: none;
    color: white;
    padding: 3px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.button::before{
    content: "";
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(115deg, rgb(255, 255, 255), rgb(180, 180, 180),rgb(138, 138, 138),rgb(94, 94, 94),rgb(67, 67, 67), rgb(0, 0, 0));
    background-size: 50% 100%;
    border-radius: inherit;
    animation: animate-border 3s linear infinite;
}

.button span{
    display: block;
    background-color: black;
    padding: 30px 0;
    border-radius: 3px;
    position: relative;
    z-index: 2;
    font-size: 30px;
    border-radius: 20px;
}

/* TAP TO START */
.start{
    background-color: black;
    text-align: center;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
}

.start_btn{
width: 200px;
height: 100px;
position:relative;
color: rgb(100, 100, 100);
margin: 5% 0% 20% 0;
background-color: transparent;
border: 1px solid rgb(100, 100, 100);
border-radius: 20%;
transition: all 1s;
}
.start_btn:hover{
color: black;
border-color: black;
background-color: rgb(255, 255, 255);
font-weight: bolder;
}
.start_btn::before{
    content: "";
    position: absolute;
    background-color: transparent;
    top: 80%;
    left: 0;
    width: 189.4px;
    height: 100px;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    transition: all 1s;
}
.start_btn:hover::before{
    background-color: #ffffff;
    top: 100%
}

/* CHOOSE YOUR FIGHTER */
.selection{
    background:transparent;
    color: black;
}
.selection h1{
    background-color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left:  1%;
    padding-right: 1%;
    margin-top: 1px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 25px;
    outline-style: dashed;
    outline-width: 5px;
    outline-color: rgb(0, 0, 0);
}
.column {
    float: left;
    width: 10%;
    height: 50%;
    padding: 0 40px;
    margin-bottom: 40px
  }
  

  .row {
    margin: 50px;
     align-content: center;

    }  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .card{
    width: 130px;
    height: 200px;
    position:relative;
    color: rgb(0, 0, 0);
    background-color: white;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20%;
    transition: all 1s;
    margin-left: 40px;
    margin-right: auto;
    padding: 10px;
    display: block;
    }
    .card:hover{
    color: rgb(255, 255, 255);
    border-color: black;
    background-color: rgb(100, 100, 100);
    font-weight: bolder;
    transform: scale(1.5);
    }
    
/* KEYFRAMES */
   @keyframes animate-border{
       to{
           transform: translateX(-50%);
       }
   }

